@model IEnumerable<MVC_GRID.Models.User>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>List</h2> 

<ul class="list-group">
   @foreach (var item in Model)
   {
       <li class="list-group-item">
        @item.Name
       </li>
   }
</ul>