
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Silmek istediğine emin misin?</h2>
@Html.ActionLink("Evet", "List", "Grid", null, new { @class = "btn btn-success" })
